<!DOCTYPE html>
<html>  
    <head>
        {{ partial "head" . }}
    </head>
        
        <body {{ if .IsHome }} class="is-home" {{end}}>

        <div class="js-off-canvas-container c-off-canvas-container">
            {{ partial "header" . }}
            {{ block "main" . }}
                
            {{ end }}
            {{ partial "footer" . }}
        </div>

        <script src="{{ "/js/jquery.min.js" | absURL }}">                 </script>
        <script src="{{ "/js/jquery.viewportchecker.min.js" | absURL }}"> </script>
        
        <script src="{{ "/js/evil-icons.min.js" | absURL }}">             </script>

        <script src="{{ "/js/transition.js" | absURL }}">                 </script>
        <script src="{{ "/js/zoom.min.js" | absURL }}">                   </script>
        <script src="{{ "/js/app.js" | absURL }}">                        </script>
        <script src="{{ "/js/toc.js" | absURL }}">                        </script>
        {{- if .IsHome -}}
        <script src="{{ "/js/identity-cms.js" | absURL }}">                        </script>
        {{- end -}}
        
        </body>
</html>