<section>
    {{ range first 1 .Site.RegularPages}}
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            <div class="first-slot">
                <div class="masonry-box post-media">
                     <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                {{ if .Params.categories }}
                                <span class="bg-orange"><a href="{{.Site.BaseURL}}/{{ with .Params.categories }}{{index . 0 | urlize}}{{end}}">{{ with .Params.categories }}{{index . 0}}{{end}}</a></span>{{end}}
                                <h4><a href="{{.Permalink}}" title="">{{.Title}}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end first-side -->
    {{ end }}

    {{ range first 2 (after 1 .Site.RegularPages)}}
            <div class="second-slot">
                <div class="masonry-box post-media">
                     <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="img-fluid">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                {{ if .Params.categories }}
                                <span class="bg-orange"><a href="{{.Site.BaseURL}}/{{ with .Params.categories }}{{index . 0 | urlize}}{{end}}">{{ with .Params.categories }}{{index . 0}}{{end}}</a></span>{{end}}
                                <h4><a href="{{.Permalink}}" title="">{{.Title}}</a></h4>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end second-side -->
    {{ end }}

</section>