<footer class='c-footer'>
    <div class='o-grid'>

      {{ partial "footer/disclaimer.html" . }}

      {{ partial "footer/footer-navigation.html" . }}
  
      <div class='o-grid__col o-grid__col--full'>
        <div class='c-footer__bottom'>
          <div class='o-grid'>
  
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
              <div class='u-font-tiny c-footer__copyright'>
                {{ now.Year }} | {{.Site.Title}} | All Right Reserved.
              </div>
            </div>
  
            <div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m'>
              {{ partial "social-footer-icons" . }}
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  </footer>