<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{{ if .IsHome }}{{ .Title }} | {{.Site.Params.description}} {{end}} {{ if .Params.SEOTitle }}{{ .Params.SEOTitle }} {{else}} {{.Title | humanize | title}} | {{ .Site.Title }} {{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/tech.css" rel="stylesheet">


    {{ "<!-- FAVICON -->" | safeHTML }}
    <link rel="icon" href="{{.Site.Params.icon}}" />
    <link rel="apple-touch-icon" href="{{.Site.Params.icon}}" />
    <meta name="msapplication-TileImage" content="{{.Site.Params.icon}}" />

    {{ "<!-- SEO OPTIMIZATION TAGS -->" | safeHTML }}
    {{ if eq .Page.Kind "section" "taxonomy" "term" }}<meta name="robots" content="noindex, nofollow" />{{ end }}{{ if eq .RelPermalink "/" }}{{ if ne .Paginator.PageNumber 1 }} <meta name="robots" content="noindex, nofollow">{{ end }}{{ end }}{{if .IsPage}}<meta name="robots" content="index, follow" />{{end}}{{if .IsHome}}<meta name="robots" content="index, follow" />{{end}}
    <meta name="description" content="{{ if .IsHome }}{{.Site.Params.excrept}}{{ else }}{{.Params.excrept}}{{ end }}"/>
    {{ if .Params.metaKeywords }}<meta name="keywords" content="{{.Params.metaKeywords}}">{{ end }}
    <link rel="canonical" href="{{ .Permalink }}"/>
    <meta property="og:locale" content="en_US">
    {{ if .IsHome }}<meta property="og:type" content="website">{{ end }}{{ if .IsPage }}<meta property="og:type" content="article">{{ end }}
    <meta property="og:title" content="{{ if .IsHome }}{{ .Title }} | {{.Site.Params.description}} {{ else if .Params.SEOTitle }}{{ .Params.SEOTitle }} {{else}} {{.Title}} | {{ .Site.Title }} {{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{.Site.Params.excrept}}{{ else }}{{.Params.excrept}}{{ end }}">
    <meta property="og:url" content="{{.Page.Permalink}}">
    <meta property="og:site_name" content="{{.Site.Title}}">
    {{ if .Params.image }}<meta property="og:image" content="{{ if .IsHome }}{{.Site.Params.image | absURL}}{{else}}{{.Params.image | absURL}}{{end}}">{{end}}
    {{if .IsPage}}{{if .Params.tags}}<meta property="article:tag" content="{{ with .Params.tags }}{{index . 0 }}{{end}}">{{end}}
    {{ if .Params.categories }}<meta property="article:section" content="{{ with .Params.categories }}{{index . 0 }}{{end}}">{{ end }}
    <meta property="article:published_time" content="{{.Date}}">
    <meta property="article:modified_time" content="{{.Params.updateDate}}">
    <meta property="og:updated_time" content="{{.Params.updateDate}}">
    {{end}}

    {{ "<!-- OPEN GRAPH META -->" | safeHTML }}
    <meta property="article:publisher" content="{{.Site.Params.FacebookPublisher}}">
    <meta property="article:author" content="{{.Site.Params.FacebookAuthor}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{.Site.Params.TwitterPublisher}}">
    <meta name="twitter:creator" content="{{.Site.Params.TwitterAuthor}}">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Title }} | {{.Site.Params.description}} {{ else }}{{ .Params.SEOTitle }}{{ end }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{.Site.Params.excrept}}{{ else }}{{.Params.excrept}}{{ end }}">
    <meta name="twitter:image" content="{{ if .IsHome }}{{.Site.Params.image}}{{else}}{{.Params.image}}{{end}}">

    {{if .IsHome}}
    {{ "<!-- SITE VERIFICATION -->" | safeHTML }}
    <meta name="google-site-verification" content="{{.Site.Params.googleSiteVerify}}" />
    <meta name="msvalidate.01" content="{{.Site.Params.BingWebmaster}}" />
    <meta name="p:domain_verify" content="{{.Site.Params.PinterestVerify}}" />
    {{end}}