<section class="section single-wrapper">
    <div class="container">
        <div class="row">
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-title-area text-center">

            {{ if .Params.categories }}
            <span class="color-green"><a href="{{.Site.BaseURL}}{{ with .Params.categories }}{{index . 0 | urlize}}{{end}}">{{ with .Params.categories }}{{index . 0}}{{end}}</a></span>{{end}}
            <h1>{{.Title}}</h1>

            <div class="blog-meta big-meta">
                <small><a href="{{.Permalink}}" title="">{{ .PublishDate.Format "January 2, 2006" }}</a></small>
                <small><a href="{{.Permalink}}" title="">{{.Site.Params.siteAuthor}}</a></small>
            </div><!-- end meta -->
        </div><!-- end title -->

        <div class="single-post-media">
            <img src="{{.Params.image}}" alt="{{.Title}}" class="img-fluid">
        </div><!-- end media -->

        <div class="blog-content">  
            {{ .Content | htmlUnescape | safeHTML }}
        </div><!-- end content -->
        <hr class="invis1">
{{ partial "post-auth-meta.html" . }}
{{ partial "post-related.html" . }}


    </div><!-- end page-wrapper -->
</div><!-- end col -->