            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-top clearfix">
                        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                    </div><!-- end blog-top -->

                    <div class="blog-list clearfix">
                        {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) }}
                        {{ range where $paginator.Pages "Type" "ne" "page" }}
                        <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="{{.Permalink}}" title="">
                                            <img src="{{ .Params.image | absURL }}" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->
    
                                <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="{{.Permalink}}" title="{{.Title}}">{{.Title}}</a></h4>
                                    <p>Aenean interdum arcu blandit, vehicula magna non, placerat elit. Mauris et pharetratortor. Suspendissea sodales urna. In at augue elit. Vivamus enim nibh, maximus ac felis nec, maximus tempor odio.</p>
                                    <small class="firstsmall"> {{ if .Params.categories }}<a class="bg-orange" href="{{.Site.BaseURL}}/{{ with .Params.categories }}{{index . 0 | urlize}}{{end}}">{{ with .Params.categories }}{{index . 0}}{{end}}</a>{{end}}</small>
                                    <small><a href="{{.Permalink}}" title="">{{ .PublishDate.Format "January 2, 2006" }}</a></small>
                                    <small><a href="{{.Permalink}}" title="">{{.Site.Params.siteAuthor}}</a></small>
                                </div><!-- end meta -->
                            </div><!-- end blog-box -->
    
                            <hr class="invis">
                            {{end}}
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

            </div><!-- end col -->